html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* { margin: 0; padding: 0; }

@media only screen and (min-width: 480px) { #blogHeader { width: 480px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; border: 1px solid #ddd; }
  #blogHeader:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogTitle { width: 440px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogTitle h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogTitle h2 { font-size: 14px; line-height: 42px; font-weight: bold; }
  #blogTitle span { color: #444; }
  #blogNavigation { width: 440px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogNavigation li { display: inline-block; padding-right: 20px; font-size: 14px; line-height: 21px; }
  #contentContainer { width: 480px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; }
  #contentContainer:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogContainer { width: 280px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 21px; margin-bottom: 21px; }
  #blogPost { margin-bottom: 21px; padding: 21px; border: 1px solid #ddd; }
  #blogPost h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogPost h2 { font-size: 21px; line-height: 42px; }
  #blogPost p { font-size: 14px; line-height: 21px; margin-bottom: 21px; }
  #blogSidebar { width: 120px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ddd; padding: 21px; }
  #blogSidebar h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogSidebar h2 { font-size: 21px; line-height: 42px; }
  #blogSidebar p { font-size: 14px; line-height: 21px; margin-bottom: 21px; }
  #blogFooter { width: 480px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; border: 1px solid #ddd; }
  #blogFooter:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogInformation { width: 120px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogInformation h1 { font-size: 14px; line-height: 21px; font-weight: bold; }
  #blogInformation h2 { font-size: 14px; line-height: 21px; font-style: italic; }
  #blogInformation h3 { font-size: 14px; line-height: 21px; color: #aaa; }
  #blogInformation p { font-size: 14px; line-height: 21px; }
  #blogSocial { width: 120px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogSocial li { font-size: 14px; line-height: 21px; margin-bottom: 21px; list-style: none; }
  #blogLicence { width: 120px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogLicence p { font-size: 14px; line-height: 21px; margin-bottom: 21px; } }
@media only screen and (min-width: 1280px) { #blogHeader { width: 1280px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; border: 1px solid #ddd; }
  #blogHeader:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogTitle { width: 1244px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogTitle h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogTitle h2 { font-size: 14px; line-height: 42px; font-weight: bold; }
  #blogTitle span { color: #444; }
  #blogNavigation { width: 1244px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogNavigation li { display: inline-block; padding-right: 20px; font-size: 14px; line-height: 21px; }
  #contentContainer { width: 1280px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; }
  #contentContainer:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogContainer { width: 816px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 21px; margin-bottom: 21px; }
  #blogPost { margin-bottom: 21px; padding: 21px; border: 1px solid #ddd; }
  #blogPost h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogPost h2 { font-size: 21px; line-height: 42px; }
  #blogPost p { font-size: 14px; line-height: 21px; margin-bottom: 21px; }
  #blogSidebar { width: 388px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ddd; padding: 21px; }
  #blogSidebar h1 { font-size: 28px; line-height: 42px; font-weight: bold; }
  #blogSidebar h2 { font-size: 21px; line-height: 42px; }
  #blogSidebar p { font-size: 14px; line-height: 21px; margin-bottom: 21px; }
  #blogFooter { width: 1280px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; padding-left: 40px; clear: both; border: 1px solid #ddd; }
  #blogFooter:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
  #blogInformation { width: 388px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogInformation h1 { font-size: 14px; line-height: 21px; font-weight: bold; }
  #blogInformation h2 { font-size: 14px; line-height: 21px; font-style: italic; }
  #blogInformation h3 { font-size: 14px; line-height: 21px; color: #aaa; }
  #blogInformation p { font-size: 14px; line-height: 21px; }
  #blogSocial { width: 388px; float: left; margin-top: 20px; margin-bottom: 20px; margin-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogSocial li { font-size: 14px; line-height: 21px; margin-bottom: 21px; list-style: none; }
  #blogLicence { width: 388px; float: left; margin-top: 20px; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #blogLicence p { font-size: 14px; line-height: 21px; margin-bottom: 21px; } }
