//scss_lightfoot - A quick and powerful grid system that employs scss to minimise 'tag soup'.
//Created by David Henderson (daave.co.uk)
* {
	margin: 0;
	padding: 0;
}

body {
}
@mixin container($container, $gutter) {
	width:$container;
	margin:0 auto;
	padding-top: $gutter / 2;
	padding-bottom: $gutter / 2;
	padding-left: $gutter;
	clear:both;
	&:after { 
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}	
}

@mixin block_init($column, $n, $gutter) {
		width:($column * $n) + ($gutter * ($n - 1));
		float:left;
		margin-top: $gutter / 2;
		margin-bottom: $gutter / 2;
		margin-right: $gutter;
	 	-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
}

@mixin block_last_init($column, $n, $gutter) {
		width:($column * $n) + ($gutter * ($n - 1));		
		float:left;
		margin-top: $gutter / 2;
		margin-bottom: $gutter / 2;
	 	-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
}
